<ul id="post-list" class="archive readmore">
    <h3>{{ with .Site.Params.readMore }}{{ . }}{{ else }}What about one of these, instead?{{ end }}</h3>
    {{ range first 5 (where .Site.Pages "Params.hidden" "ne" "true") }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if and (ne $url "about/") }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}<aside class="dates">{{ .Date.Format "Jan 2" }}</aside></a>
            {{ partial "meta-terms.html" . }} 
        </li>
        {{ end }}
   {{ end }}
</ul>