<!--{{ if .Params.categories }}
<i class="fa fa-folder" aria-hidden="true"></i>&nbsp;{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" rel="category tag">{{ . }}</a>{{ end }}
{{ end }}-->

{{ if .Params.tags }}
<h6-1><i class="fa fa-tags"></i>&nbsp;
  {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }},{{ end }}
<i href="{{ "/tags/" | relLangURL }}" rel="tag">{{ . }}</i>{{ end }}</h6-1>
{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}